# <center>Ditching Excel for Python</center>

After spending almost a decade with my first love Excel, its time to move on and search for a better half who in thick and thin of my daily tasks is with me and is much better and faster and who can give me a cutting edge in the challenging technological times where new technology is getting ditched by something new at a very rapid pace.
The idea is to replicate almost all excel functionalities in Python, be it using a simple filter or a complex task of creating an array of data from the rows and crunching them to get fancy results

The approach followed here is to start from simple tasks and move to complex computational tasks.
I've tried and designed it such a way that this can be used a universal notebook and you just just have to change the input file and you can get the same result.
However I will encourage you to please replicate the steps yourself for your better understanding.

The inspiration to create something like this came from the non-availablity of a free tutorial which literally gives all. I heavily read and follow Python documentation and you will find a lot of inspiration from that site.

_Our Input and Ouput is both an Excel file :)_

<pre>------------------------------------------------------------------------------------------</pre>

## Importing Excel Files into a Pandas DataFrame

Initial step is to import excel files into dtaframe so we can perform all our tasks on it.
<br>I will be demonstrating the __read_excel__ method of Pandas which supports __xls__ and __xlsx__ file extensions.
<br>__read_csv__ is same as using read_excel, we wont go in depth but I will share an example.

Though __read_excel__ method includes million arguments but I will make you familiarise with the most common ones that will come very handy in day to day operations

I'll be using the Iris sample dataset which is freely available online for educational purpose.
<br>Please follow the below link to download the dataset and ensure to save it in the same folder where you are saving your python file

https://archive.ics.uci.edu/ml/datasets/iris

## The first step is to import necessary libraries in Python

In [1]:
import pandas as pd
import numpy as np

We can import the spreadsheet data into Python using the following code:

pandas.read_excel(io, sheet_name=0, header=0, names=None, index_col=None, parse_cols=None, usecols=None, squeeze=False, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, keep_default_na=True, verbose=False, parse_dates=False, date_parser=None, thousands=None, comment=None, skip_footer=0, skipfooter=0, convert_float=True, mangle_dupe_cols=True, **kwds)

Since there's a plethora of arguments available, lets look at the most used one's.

### Important Pandas read_excel Options

|	Argument	|	Description	|
|		-|		|
|	io	|	A string containing the pathname of the given Excel file.	|
|	sheet_name	|	The Excel sheet name, or sheet number, of the data you want to import. The sheet number can be an integer where 0 is the first sheet, 1 is the second, etc. If a list of sheet names/numbers are given, then the output will be a dictionary of DataFrames. The default is to read all the sheets and output a dictionary of DataFrames.	|
|	header	|	Row number to use for the list of column labels. The default is 0, indicating that the first row is assumed to contain the column labels. If the data does not have a row of column labels, None should be used.	|
|	names	|	A separate Python list input of column names. This option is None by default. This option is the equivalent of assigning a list of column names to the columns attribute of the output DataFrame.	|
|	index_col	|	Specifies which column should be used for row indices. The default option is None, meaning that all columns are included in the data, and a range of numbers is used as the row indices.	|
|	usecols	|	An integer, list of integers, or string that specifies the columns to be imported into the DataFrame. The default is to import all columns. If a string is given, then Pandas uses the standard Excel format to select columns (e.g. "A:C,F,G" will import columns A, B, C, F, and G).	|
|	skiprows	|	The number of rows to skip at the top of the Excel sheet. Default is 0. This option is useful for skipping rows in Excel that contain explanatory information about the data below it.	|

If we are using the path for our local file by default its separated by "\" however python accepts "/", 
so make to change the slashes or simply add the file in the same folder where your python file is.
Should you require detailed explanation on the above, refer to the below medium article.
https://medium.com/@ageitgey/python-3-quick-tip-the-easy-way-to-deal-with-file-paths-on-windows-mac-and-linux-11a072b58d5f

We can use Python to scan files in a directory and pick out the ones we want.

In [2]:
filename = 'Iris.xlsx'

In [3]:
df = pd.read_excel(filename)

In [4]:
print(df)

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

## Import a specifc sheet

By default, the first sheet in the file is imported to the dataframe as it is.
<br>Using the sheet_name argument we can explicitly mention the sheet that we want to import. Defuat value is 0 i.e. teh first sheet in the file.
    <br>We can either mention the name of the sheet(s) or pass an integer value to refer to the index of the sheet

In [5]:
df1 = pd.read_excel(filename,sheet_name='Sheet2')

In [6]:
print(df1)

Empty DataFrame
Columns: []
Index: []

## Using a column from the sheet as an Index

Unless explicitly mentioned, an index column is added to the dataframe which by default starts from a 0.
<br>Using the index_col argumement we can manipulate the index column in our dataframe, if we set the value 0 from none, it will use the first column as our index.

In [7]:
df = pd.read_excel(filename,sheet_name='Sheet1', index_col=0)

In [8]:
print(df)

             SepalWidth  PetalLength  PetalWidth            Name
SepalLength
5.1                 3.5          1.4         0.2     Iris-setosa
4.9                 3.0          1.4         0.2     Iris-setosa
4.7                 3.2          1.3         0.2     Iris-setosa
4.6                 3.1          1.5         0.2     Iris-setosa
5.0                 3.6          1.4         0.2     Iris-setosa
...                 ...          ...         ...             ...
6.7                 3.0          5.2         2.3  Iris-virginica
6.3                 2.5          5.0         1.9  Iris-virginica
6.5                 3.0          5.2         2.0  Iris-virginica
6.2                 3.4          5.4         2.3  Iris-virginica
5.9                 3.0          5.1         1.8  Iris-virginica

[150 rows x 4 columns]

## Skip rows and columns

The default read_excel parameters assumes that the first row is a list of column names, which is incorporated automatically as column labels within the DataFrame.
<br>Using the arguments like skiprows and header we can manipulate the behaviour of the imported dataframe

In [9]:
df = pd.read_excel(filename, sheet_name='Sheet1', header=None, skiprows=1, index_col=0)

In [10]:
print(df)

       1    2    3               4
0
5.1  3.5  1.4  0.2     Iris-setosa
4.9  3.0  1.4  0.2     Iris-setosa
4.7  3.2  1.3  0.2     Iris-setosa
4.6  3.1  1.5  0.2     Iris-setosa
5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...             ...
6.7  3.0  5.2  2.3  Iris-virginica
6.3  2.5  5.0  1.9  Iris-virginica
6.5  3.0  5.2  2.0  Iris-virginica
6.2  3.4  5.4  2.3  Iris-virginica
5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 4 columns]

## Import a specifc column(s)

Using the usecols argument we can specify if we have import a specific column in our dataframe

In [11]:
df = pd.read_excel(filename, sheet_name='Sheet1', header=None, skiprows=1, usecols='B,D')

In [12]:
print(df)

       1    3
0    3.5  0.2
1    3.0  0.2
2    3.2  0.2
3    3.1  0.2
4    3.6  0.2
..   ...  ...
145  3.0  2.3
146  2.5  1.9
147  3.0  2.0
148  3.4  2.3
149  3.0  1.8

[150 rows x 2 columns]

In [13]:
df = pd.read_excel(filename)
#Importing the file again to the dataframe in the original shape to use it for further analysis

_Its not the end of the features available however its a start and you can play around with them as per your requirements_

<pre>------------------------------------------------------------------------------------------</pre>

## Lets have a look at the data from 10,000 feet

As now we have our dataframe, lets look at the data from multiple angles just to get a hang of it/
<br>Pandas have plenty of functions available that we can use. We'll use some of them to have a glimpse of our dataset.

## "Head" to "Tail": 
To view the first or last __five__ rows.
<br>_Default is five, however the argument allows us to use a specific number_

In [14]:
df.head(10)

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa
5          5.4         3.9          1.7         0.4  Iris-setosa
6          4.6         3.4          1.4         0.3  Iris-setosa
7          5.0         3.4          1.5         0.2  Iris-setosa
8          4.4         2.9          1.4         0.2  Iris-setosa
9          4.9         3.1          1.5         0.1  Iris-setosa

In [15]:
df.tail()

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

## View specific column's data

In [16]:
df['SepalLength'].head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: SepalLength, dtype: float64

## Getting the name of all columns

In [17]:
df.columns

Index(['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Name'], dtype='object')

## Info Method
Gives a summary of Dataframe

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Name         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

## Shape Method
Returns the dimensions of Dataframe

In [19]:
df.shape[0]

150

In [20]:
print('Total rows in Dataframe is: ',  df.shape[0])
print('Total columns in Dataframe is: ',  df.shape[0])

Total rows in Dataframe is:  150
Total columns in Dataframe is:  150

## Look at the datatypes in Dataframe

In [21]:
df.dtypes

SepalLength    float64
SepalWidth     float64
PetalLength    float64
PetalWidth     float64
Name            object
dtype: object

<pre>------------------------------------------------------------------------------------------</pre>

# Slice and Dice i.e. Excel filters

Descriptive reporting is all about data subsets and aggregations, the moment we are to understand our data a little bit we start using filters to look at the smaller sets of data or view a particular column maybe to have a better understanding.
<br>Python offers a lot of different methods to slice and dice the dataframes, we'll play around with a couple of them to have an understanding of how it works

## View a specific column

There exists three main methods to select columns:

* Use dot notation: e.g. data.column_name
* Use square braces and the name of the column:, e.g. data['column_name']
* Use numeric indexing and the iloc selector data.loc[:, 'column_number']

In [22]:
df['Name'].head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Name, dtype: object

In [23]:
df.iloc[:,[4]].head()

          Name
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [24]:
df.loc[:,['Name']].head()

          Name
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

## View multiple columns

In [25]:
df[['Name', 'PetalLength']].head()

          Name  PetalLength
0  Iris-setosa          1.4
1  Iris-setosa          1.4
2  Iris-setosa          1.3
3  Iris-setosa          1.5
4  Iris-setosa          1.4

In [26]:
#Pass a variable as a list
SpecificColumnList = ['Name', 'PetalLength']
df[SpecificColumnList].head()

          Name  PetalLength
0  Iris-setosa          1.4
1  Iris-setosa          1.4
2  Iris-setosa          1.3
3  Iris-setosa          1.5
4  Iris-setosa          1.4

## View specific row's data
The method used here is slicing using the loc function, where we can specify the start and end row separated by colon
<br>Remember, __index starts from a 0 and not 1__

In [27]:
df.loc[20:30]

    SepalLength  SepalWidth  PetalLength  PetalWidth         Name
20          5.4         3.4          1.7         0.2  Iris-setosa
21          5.1         3.7          1.5         0.4  Iris-setosa
22          4.6         3.6          1.0         0.2  Iris-setosa
23          5.1         3.3          1.7         0.5  Iris-setosa
24          4.8         3.4          1.9         0.2  Iris-setosa
25          5.0         3.0          1.6         0.2  Iris-setosa
26          5.0         3.4          1.6         0.4  Iris-setosa
27          5.2         3.5          1.5         0.2  Iris-setosa
28          5.2         3.4          1.4         0.2  Iris-setosa
29          4.7         3.2          1.6         0.2  Iris-setosa
30          4.8         3.1          1.6         0.2  Iris-setosa

## Slice rows and columns together

In [28]:
df.loc[20:30, ['Name']]

           Name
20  Iris-setosa
21  Iris-setosa
22  Iris-setosa
23  Iris-setosa
24  Iris-setosa
25  Iris-setosa
26  Iris-setosa
27  Iris-setosa
28  Iris-setosa
29  Iris-setosa
30  Iris-setosa

## Filter data in a column

In [29]:
df[df['Name'] == 'Iris-versicolor'].head()

    SepalLength  SepalWidth  PetalLength  PetalWidth             Name
50          7.0         3.2          4.7         1.4  Iris-versicolor
51          6.4         3.2          4.5         1.5  Iris-versicolor
52          6.9         3.1          4.9         1.5  Iris-versicolor
53          5.5         2.3          4.0         1.3  Iris-versicolor
54          6.5         2.8          4.6         1.5  Iris-versicolor

## Filter multiple values

In [30]:
df[df['Name'].isin(['Iris-versicolor', 'Iris-virginica'])]

     SepalLength  SepalWidth  PetalLength  PetalWidth             Name
50           7.0         3.2          4.7         1.4  Iris-versicolor
51           6.4         3.2          4.5         1.5  Iris-versicolor
52           6.9         3.1          4.9         1.5  Iris-versicolor
53           5.5         2.3          4.0         1.3  Iris-versicolor
54           6.5         2.8          4.6         1.5  Iris-versicolor
..           ...         ...          ...         ...              ...
145          6.7         3.0          5.2         2.3   Iris-virginica
146          6.3         2.5          5.0         1.9   Iris-virginica
147          6.5         3.0          5.2         2.0   Iris-virginica
148          6.2         3.4          5.4         2.3   Iris-virginica
149          5.9         3.0          5.1         1.8   Iris-virginica

[100 rows x 5 columns]

## Filter multiple values using a list

In [31]:
Filter_Value = ['Iris-versicolor', 'Iris-virginica']

In [32]:
df[df['Name'].isin(Filter_Value)]

     SepalLength  SepalWidth  PetalLength  PetalWidth             Name
50           7.0         3.2          4.7         1.4  Iris-versicolor
51           6.4         3.2          4.5         1.5  Iris-versicolor
52           6.9         3.1          4.9         1.5  Iris-versicolor
53           5.5         2.3          4.0         1.3  Iris-versicolor
54           6.5         2.8          4.6         1.5  Iris-versicolor
..           ...         ...          ...         ...              ...
145          6.7         3.0          5.2         2.3   Iris-virginica
146          6.3         2.5          5.0         1.9   Iris-virginica
147          6.5         3.0          5.2         2.0   Iris-virginica
148          6.2         3.4          5.4         2.3   Iris-virginica
149          5.9         3.0          5.1         1.8   Iris-virginica

[100 rows x 5 columns]

## Filter values NOT in list or not equal to in Excel

In [33]:
df[~df['Name'].isin(Filter_Value)]

    SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0           5.1         3.5          1.4         0.2  Iris-setosa
1           4.9         3.0          1.4         0.2  Iris-setosa
2           4.7         3.2          1.3         0.2  Iris-setosa
3           4.6         3.1          1.5         0.2  Iris-setosa
4           5.0         3.6          1.4         0.2  Iris-setosa
5           5.4         3.9          1.7         0.4  Iris-setosa
6           4.6         3.4          1.4         0.3  Iris-setosa
7           5.0         3.4          1.5         0.2  Iris-setosa
8           4.4         2.9          1.4         0.2  Iris-setosa
9           4.9         3.1          1.5         0.1  Iris-setosa
10          5.4         3.7          1.5         0.2  Iris-setosa
11          4.8         3.4          1.6         0.2  Iris-setosa
12          4.8         3.0          1.4         0.1  Iris-setosa
13          4.3         3.0          1.1         0.1  Iris-setosa
14          5.8         4.0          1.2         0.2  Iris-setosa
15          5.7         4.4          1.5         0.4  Iris-setosa
16          5.4         3.9          1.3         0.4  Iris-setosa
17          5.1         3.5          1.4         0.3  Iris-setosa
18          5.7         3.8          1.7         0.3  Iris-setosa
19          5.1         3.8          1.5         0.3  Iris-setosa
20          5.4         3.4          1.7         0.2  Iris-setosa
21          5.1         3.7          1.5         0.4  Iris-setosa
22          4.6         3.6          1.0         0.2  Iris-setosa
23          5.1         3.3          1.7         0.5  Iris-setosa
24          4.8         3.4          1.9         0.2  Iris-setosa
25          5.0         3.0          1.6         0.2  Iris-setosa
26          5.0         3.4          1.6         0.4  Iris-setosa
27          5.2         3.5          1.5         0.2  Iris-setosa
28          5.2         3.4          1.4         0.2  Iris-setosa
29          4.7         3.2          1.6         0.2  Iris-setosa
30          4.8         3.1          1.6         0.2  Iris-setosa
31          5.4         3.4          1.5         0.4  Iris-setosa
32          5.2         4.1          1.5         0.1  Iris-setosa
33          5.5         4.2          1.4         0.2  Iris-setosa
34          4.9         3.1          1.5         0.1  Iris-setosa
35          5.0         3.2          1.2         0.2  Iris-setosa
36          5.5         3.5          1.3         0.2  Iris-setosa
37          4.9         3.1          1.5         0.1  Iris-setosa
38          4.4         3.0          1.3         0.2  Iris-setosa
39          5.1         3.4          1.5         0.2  Iris-setosa
40          5.0         3.5          1.3         0.3  Iris-setosa
41          4.5         2.3          1.3         0.3  Iris-setosa
42          4.4         3.2          1.3         0.2  Iris-setosa
43          5.0         3.5          1.6         0.6  Iris-setosa
44          5.1         3.8          1.9         0.4  Iris-setosa
45          4.8         3.0          1.4         0.3  Iris-setosa
46          5.1         3.8          1.6         0.2  Iris-setosa
47          4.6         3.2          1.4         0.2  Iris-setosa
48          5.3         3.7          1.5         0.2  Iris-setosa
49          5.0         3.3          1.4         0.2  Iris-setosa

## Filter usinng using multiple conditions in multiple columns
__The input should always be a list__
<br>We can use this method to replicate advanced filter function in excel

In [34]:
width = [2]
Flower_Name = ['Iris-setosa']
df[~df['Name'].isin(Flower_Name) & df['PetalWidth'].isin(width)]

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
110          6.5         3.2          5.1         2.0  Iris-virginica
113          5.7         2.5          5.0         2.0  Iris-virginica
121          5.6         2.8          4.9         2.0  Iris-virginica
122          7.7         2.8          6.7         2.0  Iris-virginica
131          7.9         3.8          6.4         2.0  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica

## Filter using numeric conditions

In [35]:
df[df['SepalLength'] == 5.1].head()

    SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0           5.1         3.5          1.4         0.2  Iris-setosa
17          5.1         3.5          1.4         0.3  Iris-setosa
19          5.1         3.8          1.5         0.3  Iris-setosa
21          5.1         3.7          1.5         0.4  Iris-setosa
23          5.1         3.3          1.7         0.5  Iris-setosa

In [36]:
df[df['SepalLength'] > 5.1].head()

    SepalLength  SepalWidth  PetalLength  PetalWidth         Name
5           5.4         3.9          1.7         0.4  Iris-setosa
10          5.4         3.7          1.5         0.2  Iris-setosa
14          5.8         4.0          1.2         0.2  Iris-setosa
15          5.7         4.4          1.5         0.4  Iris-setosa
16          5.4         3.9          1.3         0.4  Iris-setosa

## Replicate the custom filter in Excel

In [37]:
df[df['Name'].map(lambda x: x.endswith('sa'))]

    SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0           5.1         3.5          1.4         0.2  Iris-setosa
1           4.9         3.0          1.4         0.2  Iris-setosa
2           4.7         3.2          1.3         0.2  Iris-setosa
3           4.6         3.1          1.5         0.2  Iris-setosa
4           5.0         3.6          1.4         0.2  Iris-setosa
5           5.4         3.9          1.7         0.4  Iris-setosa
6           4.6         3.4          1.4         0.3  Iris-setosa
7           5.0         3.4          1.5         0.2  Iris-setosa
8           4.4         2.9          1.4         0.2  Iris-setosa
9           4.9         3.1          1.5         0.1  Iris-setosa
10          5.4         3.7          1.5         0.2  Iris-setosa
11          4.8         3.4          1.6         0.2  Iris-setosa
12          4.8         3.0          1.4         0.1  Iris-setosa
13          4.3         3.0          1.1         0.1  Iris-setosa
14          5.8         4.0          1.2         0.2  Iris-setosa
15          5.7         4.4          1.5         0.4  Iris-setosa
16          5.4         3.9          1.3         0.4  Iris-setosa
17          5.1         3.5          1.4         0.3  Iris-setosa
18          5.7         3.8          1.7         0.3  Iris-setosa
19          5.1         3.8          1.5         0.3  Iris-setosa
20          5.4         3.4          1.7         0.2  Iris-setosa
21          5.1         3.7          1.5         0.4  Iris-setosa
22          4.6         3.6          1.0         0.2  Iris-setosa
23          5.1         3.3          1.7         0.5  Iris-setosa
24          4.8         3.4          1.9         0.2  Iris-setosa
25          5.0         3.0          1.6         0.2  Iris-setosa
26          5.0         3.4          1.6         0.4  Iris-setosa
27          5.2         3.5          1.5         0.2  Iris-setosa
28          5.2         3.4          1.4         0.2  Iris-setosa
29          4.7         3.2          1.6         0.2  Iris-setosa
30          4.8         3.1          1.6         0.2  Iris-setosa
31          5.4         3.4          1.5         0.4  Iris-setosa
32          5.2         4.1          1.5         0.1  Iris-setosa
33          5.5         4.2          1.4         0.2  Iris-setosa
34          4.9         3.1          1.5         0.1  Iris-setosa
35          5.0         3.2          1.2         0.2  Iris-setosa
36          5.5         3.5          1.3         0.2  Iris-setosa
37          4.9         3.1          1.5         0.1  Iris-setosa
38          4.4         3.0          1.3         0.2  Iris-setosa
39          5.1         3.4          1.5         0.2  Iris-setosa
40          5.0         3.5          1.3         0.3  Iris-setosa
41          4.5         2.3          1.3         0.3  Iris-setosa
42          4.4         3.2          1.3         0.2  Iris-setosa
43          5.0         3.5          1.6         0.6  Iris-setosa
44          5.1         3.8          1.9         0.4  Iris-setosa
45          4.8         3.0          1.4         0.3  Iris-setosa
46          5.1         3.8          1.6         0.2  Iris-setosa
47          4.6         3.2          1.4         0.2  Iris-setosa
48          5.3         3.7          1.5         0.2  Iris-setosa
49          5.0         3.3          1.4         0.2  Iris-setosa

## Combine two filters to get the result

In [38]:
df[df['Name'].map(lambda x: x.endswith('sa')) & (df['SepalLength'] > 5.1)]

    SepalLength  SepalWidth  PetalLength  PetalWidth         Name
5           5.4         3.9          1.7         0.4  Iris-setosa
10          5.4         3.7          1.5         0.2  Iris-setosa
14          5.8         4.0          1.2         0.2  Iris-setosa
15          5.7         4.4          1.5         0.4  Iris-setosa
16          5.4         3.9          1.3         0.4  Iris-setosa
18          5.7         3.8          1.7         0.3  Iris-setosa
20          5.4         3.4          1.7         0.2  Iris-setosa
27          5.2         3.5          1.5         0.2  Iris-setosa
28          5.2         3.4          1.4         0.2  Iris-setosa
31          5.4         3.4          1.5         0.4  Iris-setosa
32          5.2         4.1          1.5         0.1  Iris-setosa
33          5.5         4.2          1.4         0.2  Iris-setosa
36          5.5         3.5          1.3         0.2  Iris-setosa
48          5.3         3.7          1.5         0.2  Iris-setosa

## Contains function in Excel

In [39]:
df[df['Name'].str.contains('set')]

    SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0           5.1         3.5          1.4         0.2  Iris-setosa
1           4.9         3.0          1.4         0.2  Iris-setosa
2           4.7         3.2          1.3         0.2  Iris-setosa
3           4.6         3.1          1.5         0.2  Iris-setosa
4           5.0         3.6          1.4         0.2  Iris-setosa
5           5.4         3.9          1.7         0.4  Iris-setosa
6           4.6         3.4          1.4         0.3  Iris-setosa
7           5.0         3.4          1.5         0.2  Iris-setosa
8           4.4         2.9          1.4         0.2  Iris-setosa
9           4.9         3.1          1.5         0.1  Iris-setosa
10          5.4         3.7          1.5         0.2  Iris-setosa
11          4.8         3.4          1.6         0.2  Iris-setosa
12          4.8         3.0          1.4         0.1  Iris-setosa
13          4.3         3.0          1.1         0.1  Iris-setosa
14          5.8         4.0          1.2         0.2  Iris-setosa
15          5.7         4.4          1.5         0.4  Iris-setosa
16          5.4         3.9          1.3         0.4  Iris-setosa
17          5.1         3.5          1.4         0.3  Iris-setosa
18          5.7         3.8          1.7         0.3  Iris-setosa
19          5.1         3.8          1.5         0.3  Iris-setosa
20          5.4         3.4          1.7         0.2  Iris-setosa
21          5.1         3.7          1.5         0.4  Iris-setosa
22          4.6         3.6          1.0         0.2  Iris-setosa
23          5.1         3.3          1.7         0.5  Iris-setosa
24          4.8         3.4          1.9         0.2  Iris-setosa
25          5.0         3.0          1.6         0.2  Iris-setosa
26          5.0         3.4          1.6         0.4  Iris-setosa
27          5.2         3.5          1.5         0.2  Iris-setosa
28          5.2         3.4          1.4         0.2  Iris-setosa
29          4.7         3.2          1.6         0.2  Iris-setosa
30          4.8         3.1          1.6         0.2  Iris-setosa
31          5.4         3.4          1.5         0.4  Iris-setosa
32          5.2         4.1          1.5         0.1  Iris-setosa
33          5.5         4.2          1.4         0.2  Iris-setosa
34          4.9         3.1          1.5         0.1  Iris-setosa
35          5.0         3.2          1.2         0.2  Iris-setosa
36          5.5         3.5          1.3         0.2  Iris-setosa
37          4.9         3.1          1.5         0.1  Iris-setosa
38          4.4         3.0          1.3         0.2  Iris-setosa
39          5.1         3.4          1.5         0.2  Iris-setosa
40          5.0         3.5          1.3         0.3  Iris-setosa
41          4.5         2.3          1.3         0.3  Iris-setosa
42          4.4         3.2          1.3         0.2  Iris-setosa
43          5.0         3.5          1.6         0.6  Iris-setosa
44          5.1         3.8          1.9         0.4  Iris-setosa
45          4.8         3.0          1.4         0.3  Iris-setosa
46          5.1         3.8          1.6         0.2  Iris-setosa
47          4.6         3.2          1.4         0.2  Iris-setosa
48          5.3         3.7          1.5         0.2  Iris-setosa
49          5.0         3.3          1.4         0.2  Iris-setosa

In [40]:
df[df['Name'].map(lambda x: 'set' in x)] #same as above

    SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0           5.1         3.5          1.4         0.2  Iris-setosa
1           4.9         3.0          1.4         0.2  Iris-setosa
2           4.7         3.2          1.3         0.2  Iris-setosa
3           4.6         3.1          1.5         0.2  Iris-setosa
4           5.0         3.6          1.4         0.2  Iris-setosa
5           5.4         3.9          1.7         0.4  Iris-setosa
6           4.6         3.4          1.4         0.3  Iris-setosa
7           5.0         3.4          1.5         0.2  Iris-setosa
8           4.4         2.9          1.4         0.2  Iris-setosa
9           4.9         3.1          1.5         0.1  Iris-setosa
10          5.4         3.7          1.5         0.2  Iris-setosa
11          4.8         3.4          1.6         0.2  Iris-setosa
12          4.8         3.0          1.4         0.1  Iris-setosa
13          4.3         3.0          1.1         0.1  Iris-setosa
14          5.8         4.0          1.2         0.2  Iris-setosa
15          5.7         4.4          1.5         0.4  Iris-setosa
16          5.4         3.9          1.3         0.4  Iris-setosa
17          5.1         3.5          1.4         0.3  Iris-setosa
18          5.7         3.8          1.7         0.3  Iris-setosa
19          5.1         3.8          1.5         0.3  Iris-setosa
20          5.4         3.4          1.7         0.2  Iris-setosa
21          5.1         3.7          1.5         0.4  Iris-setosa
22          4.6         3.6          1.0         0.2  Iris-setosa
23          5.1         3.3          1.7         0.5  Iris-setosa
24          4.8         3.4          1.9         0.2  Iris-setosa
25          5.0         3.0          1.6         0.2  Iris-setosa
26          5.0         3.4          1.6         0.4  Iris-setosa
27          5.2         3.5          1.5         0.2  Iris-setosa
28          5.2         3.4          1.4         0.2  Iris-setosa
29          4.7         3.2          1.6         0.2  Iris-setosa
30          4.8         3.1          1.6         0.2  Iris-setosa
31          5.4         3.4          1.5         0.4  Iris-setosa
32          5.2         4.1          1.5         0.1  Iris-setosa
33          5.5         4.2          1.4         0.2  Iris-setosa
34          4.9         3.1          1.5         0.1  Iris-setosa
35          5.0         3.2          1.2         0.2  Iris-setosa
36          5.5         3.5          1.3         0.2  Iris-setosa
37          4.9         3.1          1.5         0.1  Iris-setosa
38          4.4         3.0          1.3         0.2  Iris-setosa
39          5.1         3.4          1.5         0.2  Iris-setosa
40          5.0         3.5          1.3         0.3  Iris-setosa
41          4.5         2.3          1.3         0.3  Iris-setosa
42          4.4         3.2          1.3         0.2  Iris-setosa
43          5.0         3.5          1.6         0.6  Iris-setosa
44          5.1         3.8          1.9         0.4  Iris-setosa
45          4.8         3.0          1.4         0.3  Iris-setosa
46          5.1         3.8          1.6         0.2  Iris-setosa
47          4.6         3.2          1.4         0.2  Iris-setosa
48          5.3         3.7          1.5         0.2  Iris-setosa
49          5.0         3.3          1.4         0.2  Iris-setosa

## Get the unique values from dataframe

In [41]:
df['SepalLength'].unique()

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])

If we want to view the entire dataframe with the unique values, we can use the drop_duplicates method

In [42]:
df.drop_duplicates(subset=['Name'])

     SepalLength  SepalWidth  PetalLength  PetalWidth             Name
0            5.1         3.5          1.4         0.2      Iris-setosa
50           7.0         3.2          4.7         1.4  Iris-versicolor
100          6.3         3.3          6.0         2.5   Iris-virginica

In [43]:
df.drop_duplicates(subset=['Name']).iloc[:,[3,4]]

     PetalWidth             Name
0           0.2      Iris-setosa
50          1.4  Iris-versicolor
100         2.5   Iris-virginica

## Sort Values

Sort data by a certain column, by default the sorting is ascending

In [44]:
df.sort_values(by = ['SepalLength'])

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
13           4.3         3.0          1.1         0.1     Iris-setosa
42           4.4         3.2          1.3         0.2     Iris-setosa
38           4.4         3.0          1.3         0.2     Iris-setosa
8            4.4         2.9          1.4         0.2     Iris-setosa
41           4.5         2.3          1.3         0.3     Iris-setosa
..           ...         ...          ...         ...             ...
122          7.7         2.8          6.7         2.0  Iris-virginica
118          7.7         2.6          6.9         2.3  Iris-virginica
117          7.7         3.8          6.7         2.2  Iris-virginica
135          7.7         3.0          6.1         2.3  Iris-virginica
131          7.9         3.8          6.4         2.0  Iris-virginica

[150 rows x 5 columns]

In [45]:
df.sort_values(by = ['SepalLength'], ascending = False)

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
131          7.9         3.8          6.4         2.0  Iris-virginica
135          7.7         3.0          6.1         2.3  Iris-virginica
122          7.7         2.8          6.7         2.0  Iris-virginica
117          7.7         3.8          6.7         2.2  Iris-virginica
118          7.7         2.6          6.9         2.3  Iris-virginica
..           ...         ...          ...         ...             ...
41           4.5         2.3          1.3         0.3     Iris-setosa
42           4.4         3.2          1.3         0.2     Iris-setosa
38           4.4         3.0          1.3         0.2     Iris-setosa
8            4.4         2.9          1.4         0.2     Iris-setosa
13           4.3         3.0          1.1         0.1     Iris-setosa

[150 rows x 5 columns]

<pre>------------------------------------------------------------------------------------------</pre>

# Statistical summary of data

## __DataFrame Describe method:__ 
_Generate descriptive statistics that summarize the central tendency, dispersion and shape of a dataset’s distribution, excluding NaN values._

In [46]:
df.describe()

       SepalLength  SepalWidth  PetalLength  PetalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

Summary stats of character columns

In [47]:
df.describe(include = ['object'])

               Name
count           150
unique            3
top     Iris-setosa
freq             50

In [48]:
df.describe(include = 'all')

        SepalLength  SepalWidth  PetalLength  PetalWidth         Name
count    150.000000  150.000000   150.000000  150.000000          150
unique          NaN         NaN          NaN         NaN            3
top             NaN         NaN          NaN         NaN  Iris-setosa
freq            NaN         NaN          NaN         NaN           50
mean       5.843333    3.054000     3.758667    1.198667          NaN
std        0.828066    0.433594     1.764420    0.763161          NaN
min        4.300000    2.000000     1.000000    0.100000          NaN
25%        5.100000    2.800000     1.600000    0.300000          NaN
50%        5.800000    3.000000     4.350000    1.300000          NaN
75%        6.400000    3.300000     5.100000    1.800000          NaN
max        7.900000    4.400000     6.900000    2.500000          NaN

<pre>------------------------------------------------------------------------------------------</pre>

# <centre>Data Aggregation</centre>

## Counting the unique values of a particular column. 
_Resulting output is a Series. You can refer it as a Single column Pivot Table_

In [49]:
pd.value_counts(df['Name'])

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Name, dtype: int64

## Count cells
Count non-NA cells for each column or row.

In [50]:
df.count(axis=0)

SepalLength    150
SepalWidth     150
PetalLength    150
PetalWidth     150
Name           150
dtype: int64

## Sum
Summarising the data to get a snapshot of either by rows or columns

In [51]:
df.sum(axis = 0) # 0 for column wise total

SepalLength                                                876.5
SepalWidth                                                 458.1
PetalLength                                                563.8
PetalWidth                                                 179.8
Name           Iris-setosaIris-setosaIris-setosaIris-setosaIr...
dtype: object

Its replicates the method of adding a total column against each row

In [52]:
df.sum(axis =1) # row wise sum

C:\condatmp/ipykernel_19064/2365872753.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sum(axis =1) # row wise sum

0      10.2
1       9.5
2       9.4
3       9.4
4      10.2
       ...
145    17.2
146    15.7
147    16.7
148    17.3
149    15.8
Length: 150, dtype: float64

## Add a total column to the existing dataset

In [53]:
df['Total'] = df.sum(axis =1)

C:\condatmp/ipykernel_19064/2394673352.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['Total'] = df.sum(axis =1)

In [54]:
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name  Total
0          5.1         3.5          1.4         0.2  Iris-setosa   10.2
1          4.9         3.0          1.4         0.2  Iris-setosa    9.5
2          4.7         3.2          1.3         0.2  Iris-setosa    9.4
3          4.6         3.1          1.5         0.2  Iris-setosa    9.4
4          5.0         3.6          1.4         0.2  Iris-setosa   10.2

## Sum of specific columns, use the loc methos and pass the column names

In [55]:
df['Total_loc']=df.loc[:,['SepalLength', 'SepalWidth']].sum(axis=1)

In [56]:
df.head()

,SepalLength,SepalWidth,PetalLength,PetalWidth,Name,Total,Total_loc
0,5.1,3.5,1.4,0.2,Iris-setosa,10.2,8.6
1,4.9,3.0,1.4,0.2,Iris-setosa,9.5,7.9
2,4.7,3.2,1.3,0.2,Iris-setosa,9.4,7.9
3,4.6,3.1,1.5,0.2,Iris-setosa,9.4,7.7
4,5.0,3.6,1.4,0.2,Iris-setosa,10.2,8.6

## Or, we can use the below method

In [57]:
df['Total_DFSum']= df['SepalLength'] + df['SepalWidth']

In [58]:
df.head()

,SepalLength,SepalWidth,PetalLength,PetalWidth,Name,Total,Total_loc,Total_DFSum
0,5.1,3.5,1.4,0.2,Iris-setosa,10.2,8.6,8.6
1,4.9,3.0,1.4,0.2,Iris-setosa,9.5,7.9,7.9
2,4.7,3.2,1.3,0.2,Iris-setosa,9.4,7.9,7.9
3,4.6,3.1,1.5,0.2,Iris-setosa,9.4,7.7,7.7
4,5.0,3.6,1.4,0.2,Iris-setosa,10.2,8.6,8.6

### Don't like the new column, delete it using drop method

In [59]:
df.drop(['Total_DFSum'], axis = 1)

,SepalLength,SepalWidth,PetalLength,PetalWidth,Name,Total,Total_loc
0,5.1,3.5,1.4,0.2,Iris-setosa,10.2,8.6
1,4.9,3.0,1.4,0.2,Iris-setosa,9.5,7.9
2,4.7,3.2,1.3,0.2,Iris-setosa,9.4,7.9
3,4.6,3.1,1.5,0.2,Iris-setosa,9.4,7.7
4,5.0,3.6,1.4,0.2,Iris-setosa,10.2,8.6
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,17.2,9.7
146,6.3,2.5,5.0,1.9,Iris-virginica,15.7,8.8
147,6.5,3.0,5.2,2.0,Iris-virginica,16.7,9.5
148,6.2,3.4,5.4,2.3,Iris-virginica,17.3,9.6
149,5.9,3.0,5.1,1.8,Iris-virginica,15.8,8.9

## Adding sum-total beneath each column

In [60]:
Sum_Total = df[['SepalLength', 'SepalWidth', 'Total']].sum()

In [61]:
Sum_Total

SepalLength     876.5
SepalWidth      458.1
Total          2078.2
dtype: float64

In [62]:
T_Sum = pd.DataFrame(data=Sum_Total).T

In [63]:
T_Sum

   SepalLength  SepalWidth   Total
0        876.5       458.1  2078.2

In [64]:
T_Sum = T_Sum.reindex(columns=df.columns)

In [65]:
T_Sum

,SepalLength,SepalWidth,PetalLength,PetalWidth,Name,Total,Total_loc,Total_DFSum
0,876.5,458.1,NaN,NaN,NaN,2078.2,NaN,NaN

In [66]:
Row_Total = df.append(T_Sum,ignore_index=True)

In [67]:
Row_Total

,SepalLength,SepalWidth,PetalLength,PetalWidth,Name,Total,Total_loc,Total_DFSum
0,5.1,3.5,1.4,0.2,Iris-setosa,10.2,8.6,8.6
1,4.9,3.0,1.4,0.2,Iris-setosa,9.5,7.9,7.9
2,4.7,3.2,1.3,0.2,Iris-setosa,9.4,7.9,7.9
3,4.6,3.1,1.5,0.2,Iris-setosa,9.4,7.7,7.7
4,5.0,3.6,1.4,0.2,Iris-setosa,10.2,8.6,8.6
...,...,...,...,...,...,...,...,...
146,6.3,2.5,5.0,1.9,Iris-virginica,15.7,8.8,8.8
147,6.5,3.0,5.2,2.0,Iris-virginica,16.7,9.5,9.5
148,6.2,3.4,5.4,2.3,Iris-virginica,17.3,9.6,9.6
149,5.9,3.0,5.1,1.8,Iris-virginica,15.8,8.9,8.9
150,876.5,458.1,NaN,NaN,NaN,2078.2,NaN,NaN

A lot has been done above, the approach that we are using is:
* Sum_Total: Do the sum of columns
* T_Sum: Convert the series output to dataframe and transpose
* Re-index to add missing columns
* Row_Total: append T_Sum to existing dataframe

## Sum based on criteria i.e. Sumif in Excel

In [68]:
df[df['Name'] == 'Iris-versicolor'].sum()

SepalLength                                                296.8
SepalWidth                                                 138.5
PetalLength                                                213.0
PetalWidth                                                  66.3
Name           Iris-versicolorIris-versicolorIris-versicolorI...
Total                                                      714.6
Total_loc                                                  435.3
Total_DFSum                                                435.3
dtype: object

## Sumifs

In [69]:
df[df['Name'].map(lambda x: x.endswith('sa')) & (df['SepalLength'] > 5.1)].sum()

SepalLength                                                 76.1
SepalWidth                                                  52.9
PetalLength                                                 20.7
PetalWidth                                                   3.6
Name           Iris-setosaIris-setosaIris-setosaIris-setosaIr...
Total                                                      153.3
Total_loc                                                  129.0
Total_DFSum                                                129.0
dtype: object

## Averageif

In [70]:
df[df['Name'] == 'Iris-versicolor'].mean()

C:\condatmp/ipykernel_19064/1361758505.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[df['Name'] == 'Iris-versicolor'].mean()

SepalLength     5.936
SepalWidth      2.770
PetalLength     4.260
PetalWidth      1.326
Total          14.292
Total_loc       8.706
Total_DFSum     8.706
dtype: float64

## Averageifs

In [71]:
df[df['Name'].map(lambda x: x.endswith('sa')) & (df['SepalLength'] > 5.1)].mean()

C:\condatmp/ipykernel_19064/4069276986.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[df['Name'].map(lambda x: x.endswith('sa')) & (df['SepalLength'] > 5.1)].mean()

SepalLength     5.435714
SepalWidth      3.778571
PetalLength     1.478571
PetalWidth      0.257143
Total          10.950000
Total_loc       9.214286
Total_DFSum     9.214286
dtype: float64

## Max

In [72]:
df[df['Name'] == 'Iris-versicolor'].max()

SepalLength                7.0
SepalWidth                 3.4
PetalLength                5.1
PetalWidth                 1.8
Name           Iris-versicolor
Total                     16.4
Total_loc                 10.2
Total_DFSum               10.2
dtype: object

## Min

In [73]:
df[df['Name'] == 'Iris-versicolor'].min()

SepalLength                4.9
SepalWidth                 2.0
PetalLength                3.0
PetalWidth                 1.0
Name           Iris-versicolor
Total                     11.5
Total_loc                  7.0
Total_DFSum                7.0
dtype: object

# Groupby i.e. Subtotals in Excel

In [74]:
df[['Name','SepalLength']].groupby('Name').sum()

                 SepalLength
Name
Iris-setosa            250.3
Iris-versicolor        296.8
Iris-virginica         329.4

In [75]:
GroupBy = df.groupby('Name').sum()

In [76]:
GroupBy

,SepalLength,SepalWidth,PetalLength,PetalWidth,Total,Total_loc,Total_DFSum
Name,,,,,,,
Iris-setosa,250.3,170.9,73.2,12.2,506.6,421.2,421.2
Iris-versicolor,296.8,138.5,213.0,66.3,714.6,435.3,435.3
Iris-virginica,329.4,148.7,277.6,101.3,857.0,478.1,478.1

In [77]:
GroupBy.append(pd.DataFrame(df[['SepalLength','SepalWidth','PetalLength','PetalWidth']].sum()).T)

,SepalLength,SepalWidth,PetalLength,PetalWidth,Total,Total_loc,Total_DFSum
Iris-setosa,250.3,170.9,73.2,12.2,506.6,421.2,421.2
Iris-versicolor,296.8,138.5,213.0,66.3,714.6,435.3,435.3
Iris-virginica,329.4,148.7,277.6,101.3,857.0,478.1,478.1
0,876.5,458.1,563.8,179.8,NaN,NaN,NaN

<pre>------------------------------------------------------------------------------------------</pre>

# Pivot Tables in Dataframes i.e. Pivot Tables in Excel

Who doesn'l love a Pivot Table in Excel, its one the best ways to analyse your data, have a quick overview of the information, helps you slice and dice the data with a super easy interface, helps you plots graphs basis on the data, add calculative columns etc.
<br>No, we wont have an interface to work, we'll have to explicitly write the code to get the output, No, it wont generate charts for you, but I don't think we can complete a tutorial without learning about the Pivot tables.

In [78]:
pd.pivot_table(df, index= 'Name')#Same as Groupby

,PetalLength,PetalWidth,SepalLength,SepalWidth,Total,Total_DFSum,Total_loc
Name,,,,,,,
Iris-setosa,1.464,0.244,5.006,3.418,10.132,8.424,8.424
Iris-versicolor,4.260,1.326,5.936,2.770,14.292,8.706,8.706
Iris-virginica,5.552,2.026,6.588,2.974,17.140,9.562,9.562

In [79]:
pd.pivot_table(df, values='SepalWidth', index= 'SepalLength',columns='Name', aggfunc = np.sum)

Name         Iris-setosa  Iris-versicolor  Iris-virginica
SepalLength
4.3                  3.0              NaN             NaN
4.4                  9.1              NaN             NaN
4.5                  2.3              NaN             NaN
4.6                 13.3              NaN             NaN
4.7                  6.4              NaN             NaN
4.8                 15.9              NaN             NaN
4.9                 12.3              2.4             2.5
5.0                 26.9              4.3             NaN
5.1                 28.8              2.5             NaN
5.2                 11.0              2.7             NaN
5.3                  3.7              NaN             NaN
5.4                 18.3              3.0             NaN
5.5                  7.7             12.2             NaN
5.6                  NaN             14.1             2.8
5.7                  8.2             14.1             2.5
5.8                  4.0              8.0             8.2
5.9                  NaN              6.2             3.0
6.0                  NaN             11.2             5.2
6.1                  NaN             11.5             5.6
6.2                  NaN              5.1             6.2
6.3                  NaN              8.1            17.6
6.4                  NaN              6.1            14.6
6.5                  NaN              2.8            12.2
6.6                  NaN              5.9             NaN
6.7                  NaN              9.2            15.2
6.8                  NaN              2.8             6.2
6.9                  NaN              3.1             9.4
7.0                  NaN              3.2             NaN
7.1                  NaN              NaN             3.0
7.2                  NaN              NaN             9.8
7.3                  NaN              NaN             2.9
7.4                  NaN              NaN             2.8
7.6                  NaN              NaN             3.0
7.7                  NaN              NaN            12.2
7.9                  NaN              NaN             3.8

A simple Pivot table showing us the sum of SepalWidth in values, SepalLength in Row Column and Name in Column Labels

Lets see if we can complicate it a bit.

In [80]:
pd.pivot_table(df, values='SepalWidth', index= 'SepalLength',columns='Name', aggfunc = np.sum, fill_value=0)

Name         Iris-setosa  Iris-versicolor  Iris-virginica
SepalLength
4.3                  3.0              0.0             0.0
4.4                  9.1              0.0             0.0
4.5                  2.3              0.0             0.0
4.6                 13.3              0.0             0.0
4.7                  6.4              0.0             0.0
4.8                 15.9              0.0             0.0
4.9                 12.3              2.4             2.5
5.0                 26.9              4.3             0.0
5.1                 28.8              2.5             0.0
5.2                 11.0              2.7             0.0
5.3                  3.7              0.0             0.0
5.4                 18.3              3.0             0.0
5.5                  7.7             12.2             0.0
5.6                  0.0             14.1             2.8
5.7                  8.2             14.1             2.5
5.8                  4.0              8.0             8.2
5.9                  0.0              6.2             3.0
6.0                  0.0             11.2             5.2
6.1                  0.0             11.5             5.6
6.2                  0.0              5.1             6.2
6.3                  0.0              8.1            17.6
6.4                  0.0              6.1            14.6
6.5                  0.0              2.8            12.2
6.6                  0.0              5.9             0.0
6.7                  0.0              9.2            15.2
6.8                  0.0              2.8             6.2
6.9                  0.0              3.1             9.4
7.0                  0.0              3.2             0.0
7.1                  0.0              0.0             3.0
7.2                  0.0              0.0             9.8
7.3                  0.0              0.0             2.9
7.4                  0.0              0.0             2.8
7.6                  0.0              0.0             3.0
7.7                  0.0              0.0            12.2
7.9                  0.0              0.0             3.8

Blanks are now replaced with 0's by using the fill_value argument

In [81]:
pd.pivot_table(df, values=['SepalWidth', 'PetalWidth'], index= 'SepalLength',columns='Name', aggfunc = np.sum, fill_value=0)

             PetalWidth                                 SepalWidth  \
Name        Iris-setosa Iris-versicolor Iris-virginica Iris-setosa
SepalLength
4.3                 0.1             0.0            0.0         3.0
4.4                 0.6             0.0            0.0         9.1
4.5                 0.3             0.0            0.0         2.3
4.6                 0.9             0.0            0.0        13.3
4.7                 0.4             0.0            0.0         6.4
4.8                 1.0             0.0            0.0        15.9
4.9                 0.5             1.0            1.7        12.3
5.0                 2.3             2.0            0.0        26.9
5.1                 2.5             1.1            0.0        28.8
5.2                 0.5             1.4            0.0        11.0
5.3                 0.2             0.0            0.0         3.7
5.4                 1.6             1.5            0.0        18.3
5.5                 0.4             5.9            0.0         7.7
5.6                 0.0             6.5            2.0         0.0
5.7                 0.7             6.1            2.0         8.2
5.8                 0.2             3.4            6.2         4.0
5.9                 0.0             3.3            1.8         0.0
6.0                 0.0             5.7            3.3         0.0
6.1                 0.0             5.3            3.2         0.0
6.2                 0.0             2.8            4.1         0.0
6.3                 0.0             4.4           11.9         0.0
6.4                 0.0             2.8           10.3         0.0
6.5                 0.0             1.5            8.0         0.0
6.6                 0.0             2.7            0.0         0.0
6.7                 0.0             4.6           11.1         0.0
6.8                 0.0             1.4            4.4         0.0
6.9                 0.0             1.5            6.7         0.0
7.0                 0.0             1.4            0.0         0.0
7.1                 0.0             0.0            2.1         0.0
7.2                 0.0             0.0            5.9         0.0
7.3                 0.0             0.0            1.8         0.0
7.4                 0.0             0.0            1.9         0.0
7.6                 0.0             0.0            2.1         0.0
7.7                 0.0             0.0            8.8         0.0
7.9                 0.0             0.0            2.0         0.0


Name        Iris-versicolor Iris-virginica
SepalLength
4.3                     0.0            0.0
4.4                     0.0            0.0
4.5                     0.0            0.0
4.6                     0.0            0.0
4.7                     0.0            0.0
4.8                     0.0            0.0
4.9                     2.4            2.5
5.0                     4.3            0.0
5.1                     2.5            0.0
5.2                     2.7            0.0
5.3                     0.0            0.0
5.4                     3.0            0.0
5.5                    12.2            0.0
5.6                    14.1            2.8
5.7                    14.1            2.5
5.8                     8.0            8.2
5.9                     6.2            3.0
6.0                    11.2            5.2
6.1                    11.5            5.6
6.2                     5.1            6.2
6.3                     8.1           17.6
6.4                     6.1           14.6
6.5                     2.8           12.2
6.6                     5.9            0.0
6.7                     9.2           15.2
6.8                     2.8            6.2
6.9                     3.1            9.4
7.0                     3.2            0.0
7.1                     0.0            3.0
7.2                     0.0            9.8
7.3                     0.0            2.9
7.4                     0.0            2.8
7.6                     0.0            3.0
7.7                     0.0           12.2
7.9                     0.0            3.8

In [82]:
pd.pivot_table(df, values=['SepalWidth', 'PetalWidth'], index= ['SepalLength', 'PetalLength'],columns='Name', aggfunc = np.sum, fill_value=0)

                         PetalWidth                                 \
Name                    Iris-setosa Iris-versicolor Iris-virginica
SepalLength PetalLength
4.3         1.1                 0.1             0.0            0.0
4.4         1.3                 0.4             0.0            0.0
            1.4                 0.2             0.0            0.0
4.5         1.3                 0.3             0.0            0.0
4.6         1.0                 0.2             0.0            0.0
...                             ...             ...            ...
7.6         6.6                 0.0             0.0            2.1
7.7         6.1                 0.0             0.0            2.3
            6.7                 0.0             0.0            4.2
            6.9                 0.0             0.0            2.3
7.9         6.4                 0.0             0.0            2.0

                         SepalWidth
Name                    Iris-setosa Iris-versicolor Iris-virginica
SepalLength PetalLength
4.3         1.1                 3.0             0.0            0.0
4.4         1.3                 6.2             0.0            0.0
            1.4                 2.9             0.0            0.0
4.5         1.3                 2.3             0.0            0.0
4.6         1.0                 3.6             0.0            0.0
...                             ...             ...            ...
7.6         6.6                 0.0             0.0            3.0
7.7         6.1                 0.0             0.0            3.0
            6.7                 0.0             0.0            6.6
            6.9                 0.0             0.0            2.6
7.9         6.4                 0.0             0.0            3.8

[123 rows x 6 columns]

In [83]:
pd.pivot_table(df, values=['SepalWidth', 'PetalWidth'], index= 'SepalLength',columns='Name', 
               aggfunc = {'SepalWidth': np.sum, 'PetalWidth': np.mean}, fill_value=0)

             PetalWidth                                 SepalWidth  \
Name        Iris-setosa Iris-versicolor Iris-virginica Iris-setosa
SepalLength
4.3            0.100000        0.000000       0.000000         3.0
4.4            0.200000        0.000000       0.000000         9.1
4.5            0.300000        0.000000       0.000000         2.3
4.6            0.225000        0.000000       0.000000        13.3
4.7            0.200000        0.000000       0.000000         6.4
4.8            0.200000        0.000000       0.000000        15.9
4.9            0.125000        1.000000       1.700000        12.3
5.0            0.287500        1.000000       0.000000        26.9
5.1            0.312500        1.100000       0.000000        28.8
5.2            0.166667        1.400000       0.000000        11.0
5.3            0.200000        0.000000       0.000000         3.7
5.4            0.320000        1.500000       0.000000        18.3
5.5            0.200000        1.180000       0.000000         7.7
5.6            0.000000        1.300000       2.000000         0.0
5.7            0.350000        1.220000       2.000000         8.2
5.8            0.200000        1.133333       2.066667         4.0
5.9            0.000000        1.650000       1.800000         0.0
6.0            0.000000        1.425000       1.650000         0.0
6.1            0.000000        1.325000       1.600000         0.0
6.2            0.000000        1.400000       2.050000         0.0
6.3            0.000000        1.466667       1.983333         0.0
6.4            0.000000        1.400000       2.060000         0.0
6.5            0.000000        1.500000       2.000000         0.0
6.6            0.000000        1.350000       0.000000         0.0
6.7            0.000000        1.533333       2.220000         0.0
6.8            0.000000        1.400000       2.200000         0.0
6.9            0.000000        1.500000       2.233333         0.0
7.0            0.000000        1.400000       0.000000         0.0
7.1            0.000000        0.000000       2.100000         0.0
7.2            0.000000        0.000000       1.966667         0.0
7.3            0.000000        0.000000       1.800000         0.0
7.4            0.000000        0.000000       1.900000         0.0
7.6            0.000000        0.000000       2.100000         0.0
7.7            0.000000        0.000000       2.200000         0.0
7.9            0.000000        0.000000       2.000000         0.0


Name        Iris-versicolor Iris-virginica
SepalLength
4.3                     0.0            0.0
4.4                     0.0            0.0
4.5                     0.0            0.0
4.6                     0.0            0.0
4.7                     0.0            0.0
4.8                     0.0            0.0
4.9                     2.4            2.5
5.0                     4.3            0.0
5.1                     2.5            0.0
5.2                     2.7            0.0
5.3                     0.0            0.0
5.4                     3.0            0.0
5.5                    12.2            0.0
5.6                    14.1            2.8
5.7                    14.1            2.5
5.8                     8.0            8.2
5.9                     6.2            3.0
6.0                    11.2            5.2
6.1                    11.5            5.6
6.2                     5.1            6.2
6.3                     8.1           17.6
6.4                     6.1           14.6
6.5                     2.8           12.2
6.6                     5.9            0.0
6.7                     9.2           15.2
6.8                     2.8            6.2
6.9                     3.1            9.4
7.0                     3.2            0.0
7.1                     0.0            3.0
7.2                     0.0            9.8
7.3                     0.0            2.9
7.4                     0.0            2.8
7.6                     0.0            3.0
7.7                     0.0           12.2
7.9                     0.0            3.8

We can have individual calculations on values using dictionary method and can also have multiple calculations on values

In [84]:
pd.pivot_table(df, values=['SepalWidth', 'PetalWidth'], index= 'SepalLength',columns='Name', 
               aggfunc = {'SepalWidth': np.sum, 'PetalWidth': np.mean}, fill_value=0, margins=True)

             PetalWidth                                           SepalWidth  \
Name        Iris-setosa Iris-versicolor Iris-virginica       All Iris-setosa
SepalLength
4.3            0.100000        0.000000       0.000000  0.100000         3.0
4.4            0.200000        0.000000       0.000000  0.200000         9.1
4.5            0.300000        0.000000       0.000000  0.300000         2.3
4.6            0.225000        0.000000       0.000000  0.225000        13.3
4.7            0.200000        0.000000       0.000000  0.200000         6.4
4.8            0.200000        0.000000       0.000000  0.200000        15.9
4.9            0.125000        1.000000       1.700000  0.533333        12.3
5.0            0.287500        1.000000       0.000000  0.430000        26.9
5.1            0.312500        1.100000       0.000000  0.400000        28.8
5.2            0.166667        1.400000       0.000000  0.475000        11.0
5.3            0.200000        0.000000       0.000000  0.200000         3.7
5.4            0.320000        1.500000       0.000000  0.516667        18.3
5.5            0.200000        1.180000       0.000000  0.900000         7.7
5.6            0.000000        1.300000       2.000000  1.416667         0.0
5.7            0.350000        1.220000       2.000000  1.100000         8.2
5.8            0.200000        1.133333       2.066667  1.400000         4.0
5.9            0.000000        1.650000       1.800000  1.700000         0.0
6.0            0.000000        1.425000       1.650000  1.500000         0.0
6.1            0.000000        1.325000       1.600000  1.416667         0.0
6.2            0.000000        1.400000       2.050000  1.725000         0.0
6.3            0.000000        1.466667       1.983333  1.811111         0.0
6.4            0.000000        1.400000       2.060000  1.871429         0.0
6.5            0.000000        1.500000       2.000000  1.900000         0.0
6.6            0.000000        1.350000       0.000000  1.350000         0.0
6.7            0.000000        1.533333       2.220000  1.962500         0.0
6.8            0.000000        1.400000       2.200000  1.933333         0.0
6.9            0.000000        1.500000       2.233333  2.050000         0.0
7.0            0.000000        1.400000       0.000000  1.400000         0.0
7.1            0.000000        0.000000       2.100000  2.100000         0.0
7.2            0.000000        0.000000       1.966667  1.966667         0.0
7.3            0.000000        0.000000       1.800000  1.800000         0.0
7.4            0.000000        0.000000       1.900000  1.900000         0.0
7.6            0.000000        0.000000       2.100000  2.100000         0.0
7.7            0.000000        0.000000       2.200000  2.200000         0.0
7.9            0.000000        0.000000       2.000000  2.000000         0.0
All            0.244000        1.326000       2.026000  1.198667       170.9


Name        Iris-versicolor Iris-virginica    All
SepalLength
4.3                     0.0            0.0    3.0
4.4                     0.0            0.0    9.1
4.5                     0.0            0.0    2.3
4.6                     0.0            0.0   13.3
4.7                     0.0            0.0    6.4
4.8                     0.0            0.0   15.9
4.9                     2.4            2.5   17.2
5.0                     4.3            0.0   31.2
5.1                     2.5            0.0   31.3
5.2                     2.7            0.0   13.7
5.3                     0.0            0.0    3.7
5.4                     3.0            0.0   21.3
5.5                    12.2            0.0   19.9
5.6                    14.1            2.8   16.9
5.7                    14.1            2.5   24.8
5.8                     8.0            8.2   20.2
5.9                     6.2            3.0    9.2
6.0                    11.2            5.2   16.4
6.1                    11.5            5.6   17.1
6.2                     5.1            6.2   11.3
6.3                     8.1           17.6   25.7
6.4                     6.1           14.6   20.7
6.5                     2.8           12.2   15.0
6.6                     5.9            0.0    5.9
6.7                     9.2           15.2   24.4
6.8                     2.8            6.2    9.0
6.9                     3.1            9.4   12.5
7.0                     3.2            0.0    3.2
7.1                     0.0            3.0    3.0
7.2                     0.0            9.8    9.8
7.3                     0.0            2.9    2.9
7.4                     0.0            2.8    2.8
7.6                     0.0            3.0    3.0
7.7                     0.0           12.2   12.2
7.9                     0.0            3.8    3.8
All                   138.5          148.7  458.1

If we use margins argument, we can have total row added

<pre>------------------------------------------------------------------------------------------</pre>

# Vlookup

What a magical formula is vlookup in Excel, I think its the first thing that everyone wants to learn before learning how to even add. Looks fascinating when someone is applying vlookup, looks like magic when we get the output. Makes life easy. I can with very much confidence can say its the backbone of every data wrangling action performed on the spreadsheet.
<br>
<br>__Unfortunately__ we dont have a vlookup function in Pandas!
<br>
<br>Since we dont have a "Vlookup" function in Pandas, Merge is used as an alternate which is same as SQL. There are a total of four merge options available:
* ‘left’ — Use the shared column from the left dataframe and match to right dataframe. Fill in any N/A as NaN

* ‘right’ — Use the shared column from the right dataframe and match to left dataframe. Fill in any N/A as NaN

* ‘inner’ — Only show data where the two shared columns overlap. Default method.

* ‘outer’ — Return all records when there is a match in either left or right dataframe.
<br>

In [85]:
df1 = pd.read_excel(filename)

In [86]:
lookup = df.merge(df,on='Name')

In [87]:
lookup

,SepalLength_x,SepalWidth_x,PetalLength_x,PetalWidth_x,Name,Total_x,Total_loc_x,Total_DFSum_x,SepalLength_y,SepalWidth_y,PetalLength_y,PetalWidth_y,Total_y,Total_loc_y,Total_DFSum_y
0,5.1,3.5,1.4,0.2,Iris-setosa,10.2,8.6,8.6,5.1,3.5,1.4,0.2,10.2,8.6,8.6
1,5.1,3.5,1.4,0.2,Iris-setosa,10.2,8.6,8.6,4.9,3.0,1.4,0.2,9.5,7.9,7.9
2,5.1,3.5,1.4,0.2,Iris-setosa,10.2,8.6,8.6,4.7,3.2,1.3,0.2,9.4,7.9,7.9
3,5.1,3.5,1.4,0.2,Iris-setosa,10.2,8.6,8.6,4.6,3.1,1.5,0.2,9.4,7.7,7.7
4,5.1,3.5,1.4,0.2,Iris-setosa,10.2,8.6,8.6,5.0,3.6,1.4,0.2,10.2,8.6,8.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,5.9,3.0,5.1,1.8,Iris-virginica,15.8,8.9,8.9,6.7,3.0,5.2,2.3,17.2,9.7,9.7
7496,5.9,3.0,5.1,1.8,Iris-virginica,15.8,8.9,8.9,6.3,2.5,5.0,1.9,15.7,8.8,8.8
7497,5.9,3.0,5.1,1.8,Iris-virginica,15.8,8.9,8.9,6.5,3.0,5.2,2.0,16.7,9.5,9.5
7498,5.9,3.0,5.1,1.8,Iris-virginica,15.8,8.9,8.9,6.2,3.4,5.4,2.3,17.3,9.6,9.6
7499,5.9,3.0,5.1,1.8,Iris-virginica,15.8,8.9,8.9,5.9,3.0,5.1,1.8,15.8,8.9,8.9

The above might not be the best example to suppport the concept, however the working is the same.

<pre>------------------------------------------------------------------------------------------</pre>

I am hoping this tutorial made some sense, though I agree this could have been more elaborative which I will be pursuing soon.
<br>__Watch out the space for more of it.__